
  body{
	background-image: url(./images/backow.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0%;
    text-align:center;
}

ul.hide{
	display:none;
}


footer{
	background-color: #0D7ADA;
    height: 100px;
    width: 100%;
	text-align: center;
	position: relative;
	bottom: 0;
	margin-top:550px;


}
.droit{
	color:red;
	font-size: 20px;
	

}

